<section class="skills-section py-5">
    <div class="container">
     
      <h2 class="text-center mb-4">Skills</h2>
   
      <p class="text-center mb-5">My skills in web development, honed through my education at the Faculty of Computers and Information and ITI, are focused on .NET and Angular. I’m proficient in both front-end and back-end technologies, enabling me to build efficient and dynamic web applications. I’m always eager to learn and stay up-to-date with industry trends, aiming to contribute effectively in a challenging work environment and grow within the tech industry."</p>
  
       
      <div class="row">
        <div class="col-lg-6">
           
          <div class="skill d-flex justify-content-between align-items-center mb-4">
            <span class="skill-name">JavaScript</span>
            <input type="range" id="skill1" name="skill1" min="0" max="100" value="75" class="form-range">
          </div>
          <div class="skill d-flex justify-content-between align-items-center mb-4">
            <span class="skill-name">CSS</span>
            <input type="range" id="skill2" name="skill2" min="0" max="100" value="85" class="form-range">
          </div>
          <div class="skill d-flex justify-content-between align-items-center mb-4">
            <span class="skill-name">HTML</span>
            <input type="range" id="skill3" name="skill3" min="0" max="100" value="90" class="form-range">
          </div>
          <div class="skill d-flex justify-content-between align-items-center mb-4">
            <span class="skill-name">Angular</span>
            <input type="range" id="skill4" name="skill4" min="0" max="100" value="70" class="form-range">
          </div>
          <div class="skill d-flex justify-content-between align-items-center mb-4">
            <span class="skill-name">C#</span>
            <input type="range" id="skill5" name="skill5" min="0" max="100" value="60" class="form-range">
          </div>
        </div>
      </div>
    </div>
  </section>
  