.skills-section {
    background-color: #f7f7f7;
  }
  
  .skills-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .skills-section p {
    font-size: 1.1rem;
    color: #666;
  }
  
  .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .skill-name {
    font-weight: bold;
    margin-right: 20px;
  }
  
  .form-range {
    width: 60%;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
  }
  
  .form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #01458d;
    cursor: pointer;
  }
  
  .form-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
  }
  