.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.project-description {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

.project-btn {
    display: block;
    margin: 10px auto 0;
    text-align: center;
    background-color: #02294f;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
}

.project-btn:hover {
    background-color: #0358b2;
}
