<div class="container py-5">
    <h2 class="text-primary fw-bold text-center mb-4">My Projects</h2>

    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card project-card">
                <div class="card-body">
                    <h5 class="card-title">Product Management Project 🛒</h5>
                    <p class="card-text project-description">Product Management is a JavaScript application designed to help users efficiently manage and organize their products. It includes features for adding, organizing, searching, and performing calculations like total cost, making it a comprehensive tool for product management.

                        .</p>
                    <a href="https://github.com/Asmaa-A7med/Product-Management" target="_blank" class="btn btn-primary project-btn">View on GitHub</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card project-card">
                <div class="card-body">
                    <h5 class="card-title">Fruits Shop🍓</h5>
                    <p class="card-text project-description">This is a simple website built using HTML and CSS as part of a training task in the Client-Side Technology course within the ITI-ITP program. The project serves as a practical exercise to enhance front-end development skills.</p>
                    <a href="https://github.com/Asmaa-A7med/Fruits-Shop" target="_blank" class="btn btn-primary project-btn">View on GitHub</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card project-card">
                <div class="card-body">
                    <h5 class="card-title">Little Coder</h5>
                    <p class="card-text project-description">A graduation project from (DEPI)—an interactive website designed to teach kids 
                        programming in a fun and engaging way.</p>
                    <a href="https://github.com/Asmaa-A7med/Final-Project" target="_blank" class="btn btn-primary project-btn">View on GitHub</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card project-card">
                <div class="card-body">
                    <h5 class="card-title">Smart Blood Bank System</h5>
                    <p class="card-text project-description">A comprehensive system designed to enhance blood and plasma 
                        donation processes, increase awareness, and support blood banks in efficiently managing donations. 
                        This was my graduation project from university, where I worked as a .Net API Developer.
                        </p>
                    <a href="https://github.com/Asmaa-A7med" target="_blank" class="btn btn-primary project-btn">View on GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>
